/* MAIN */

.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    z-index: 1;
    height: 45px;
    overflow: hidden;
    background-color: #F69333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    height: 45px;
    overflow: hidden;
    background-color: #394182;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

main {
    flex: 0;
    width: 80%;
    min-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {

}

/* LOGO AND MENU */

.navbar-container {
    margin: auto;
    width: 80%;
    min-width: 1200px;
}

.navbar-logo {
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
}

.navbar h1 {
    margin: 0;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  float: right;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

.navbar a:hover {
  background: #f2b57b;
  color: #394182;
}

.navbar a, .navbar a:visited, .navbar a:active {
    text-decoration: none;
    color: #fff;
}

/* HOME */
div.home {
    margin-top: 60px;
    padding: 10px;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.container_home {
    display: grid;
    grid-template-columns: 1fr 3fr; /* fraction*/
}

div.map_home {
    margin-top: 40px;
}

.donation_box {
    text-align: center;
    vertical-align: bottom;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* NODES */
div.nodes {
    margin-top: 60px;
    margin-bottom: 60px;
}

/* LIVE STATS */
.wrapper { 
  display: grid; 
  grid-auto-rows: 150px;
} 

.box1 { 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1; 
  grid-row-end: 4; 
}

.box2 { 
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 4; 
}

.box3 { 
  grid-column-start: 5; 
  grid-column-end: 6;
  grid-row-start: 1; 
  grid-row-end: 4; 
}

/* WORLDMAP */
.worldmap {
    left: 0;
    height: 88%;
    width: 100%;
    position: absolute;
    margin-top: 40px;
}

/* FONTS */

h1 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

/* TABLES */
.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.table th {
    background-color: #394182;
    color: white;
    text-align: left;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table td {
    text-align: left;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table tr:hover {
    background: #F69333;
    cursor: pointer;
}

/* BUTTONS */
.myButton1 {
    float: right;
    margin-right: 10px;
    background-color: #F69333;
    text-transform: uppercase;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid red;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding: 5px 20px;
    text-decoration: none;
}

.myButton2 {
    float: right;
    margin-right: 10px;
    background-color: #F69333;
    text-transform: uppercase;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid red;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding: 5px 20px;
    text-decoration: none;
}

.myButton3 {
    float: right;
    margin-right: 100px;
    background-color: #F69333;
    text-transform: uppercase;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid red;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding: 5px 20px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #ffb36b;
}

.myButton:active {
    position: relative;
    top: 1px;
}

