{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="home">
        <h3>What is Ravennodes?</h3>
        <p><a href="https://github.com/jeroz1/Ravennodes">Ravennodes</a> estimates the size of the Ravencoin network by finding all the <b>reachable nodes</b>
            These are the nodes that accept incoming connections. This method will not list all full nodes because not all nodes have an open port that can be
            probed using Ravennodes. These nodes are either behind firewalls or configured to not listen for connections.</p>
    </div>

    <div class="container_home">
        <div>
            <center><h1>Country Top 10</h1></center>
            {% for table in tables[:1] %}
            {{ table|safe }}
            {% endfor %}
        </div>
        <div class="map_home">
            {% include 'map_small.html' %}
        </div>
    </div>
    <a href="{{ url_for('worldmap') }}" class="myButton3">Large Map</a>
    <a href="{{ url_for('nodes') }}" class="myButton2">Node List</a>
    <a href="{{ url_for('stats') }}" class="myButton1">Live Stats</a>

    <div>
        <h3>Total number of nodes: {{ data|string }}</h3>
        <p>Last update: {{ json_time|string }}</p>
    </div>
</div>

<div class="donation_box">
    <p>To keep this service running - <a href="https://ravencoin.network/address/RVNNodeS2S21fm9dmTvJfedhBXNQ4GNfvH">RVNNodeS2S21fm9dmTvJfedhBXNQ4GNfvH</a>
    </p>
</div>
{% endblock %}
